<section class="post">
	<h1><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h1>
	<div class="meta">
		by {{post.author}} on {{post.date | date_to_string}}
	</div>
	<article>
		{{content}}
	</article>
	<div class="meta-footer">
		{% if post.categories[0] != null %}Categories: {% for category in post.categories %}{% if forloop.index > 1 %}, {% endif %}<a href="{{site.url}}/categories/{{category | replace: ' ', '-'}}" class="category">{{category}}</a>{% endfor %}{% endif %}
	</div>
</section>