<section class="post">
	<h1><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h1>
	<div class="meta">
		by <a href="#" class="author">{{post.author}}</a> on <a href="#" class="date">{{post.date | date_to_string}}</a> under {% for category in post.categories %}{% if forloop.index > 1 %}, {% endif %}<a href="{{site.url}}/categories/{{category | replace: ' ', '-'}}" class="category">{{category}}</a>{% endfor %}
	</div>
	<article>
		{{content}}
	</article>
	<div class="meta-footer">
		{% if post.tags[0] != null %}Tags: {% for tag in post.tags %}{% if forloop.index > 1 %}, {% endif %}<a href="{{site.url}}/tags/{{tag | replace: ' ', '-'}}" class="category">{{tag}}</a>{% endfor %}{% endif %}
	</div>
</section>