<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{site.title}}</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="description" content="{{site.description}}">
	
	<!-- fonts, favicon, and touch icons -->
	<link rel="shortcut icon" href="{{site.url}}/img/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	
	<!-- styles -->
	<link rel="stylesheet" href="{{site.url}}/css/reset.css">
	<link rel="stylesheet" href="{{site.url}}/css/style.css">
	<link rel="stylesheet" href="{{site.url}}/css/responsive.css">
</head>
<body>
	<header>
		<div class="logo"><img src="{{site.url}}/img/logo.png" alt="Statiq" /></div>
		<ul>
			<li class="close-together"><a href="register.html" class="register-btn">Register</a></li>
			<li><a href="http://statiq.squarespace.com" class="themes-btn">Themes</a></li>
			<li><a href="mailto:{{site.email}}">Contact</a></li>
			<!-- <li><a href="about.html">About</a></li> -->
		</ul>
	</header>

	{{content}}

	<!-- scripts & modals below -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script><script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script><![endif]-->
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</body>
</html> 